

@model IEnumerable<Sogeti.Capstone.Web.ViewModel.EventViewModel>

<div class="row">
    @foreach (var item in Model)
    {
        int counter = 0;
        if (counter != 0 && counter % 3 == 0)
        {
        @: </div>
        @:<br />
        @:<div class="row">
        }

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/thumbnailBlank.svg" alt="@item.Title" style="min-width: 100%">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>
                         @{
                           string parameterValue = item.Description.Substring(0, Math.Min(item.Description.Length, 100));
                         }
                        @Html.DisplayFor(modelItem => parameterValue) ...
                    </p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>

        counter++;
    }
</div>
