@model IEnumerable<Sogeti.Capstone.Web.ViewModel.EventViewModel>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            int counter = 0;
            if (counter != 0 && counter%3 == 0)
            {
                @:</div>
                @:<br/>
                @:<div class="row">
            }

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/Images/shutterstock_84415312-compressor.jpg" alt="@item.Title" style="min-width: 100%">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p>
                            @{
                                string parameterValue = item.Description.Substring(0, Math.Min(item.Description.Length, 100));
                            }
                            @Html.DisplayFor(modelItem => parameterValue) ...
                        </p>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-primary"})

                            <a href="" class="btn btn-primary" data-id="@item.Id" data-toggle="modal" data-target="#details-event" id="details-modal">
                                <span>Details</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            counter++;
        }
    </div>
</div>

<div class="modal fade form-horizontal" id="details-event" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
    <div id="details-event-container" class="modal-dialog" role="document"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('body').on('click', '#details-modal', function() {
            var id = $(this).attr('data-id'); // the id that's given to each button in the list
            var viewUrl = '/Events/Details/' + id;
            $.get(viewUrl, function(data) {
                $('#details-event-container').html(data);
                $('#details-event').modal('show');
            });
        });
    });
</script>