@model IEnumerable<Sogeti.Capstone.Web.ViewModel.EventViewModel>

@{
    ViewBag.Title = "Events";
}

<br/>
<div class="container">

    <h3>
        <div class="pull-left">
            Events
            @Html.ActionLink("New", "Create", null, new {@class = "btn btn-primary"})
        </div>
        <div class="pull-right">
            @using (Html.BeginForm())
            {
                @Html.TextBox("searchQuery")
                @Html.Hidden("searchQuery", "")
                <input class="btn btn-warning" type="submit" value="Search"/>
            }
        </div>
    </h3>
</div>

<br />

@Html.Partial("_EventsList")

<nav>
    <ul class="pagination">
        <li>
            @{
                int pId = Convert.ToInt32(Request["pageId"]);
                string buttonStatus = "enabled";


                pId--;
                if (pId < 1) { pId = 1; }

                if (pId == 1) {buttonStatus = "disabled";}

                @Html.ActionLink("«", "Index", new { pageId = pId }, new { @class = buttonStatus })
            }
        </li>
        @for (int i = 1; i < ViewBag.NumberOfPages + 1; i++)
        {
            <li>
                @Html.ActionLink(i.ToString(), "Index", new { pageId = i })
            </li>
        }
        <li>
            @{
                int rightPid = Convert.ToInt32(Request["pageId"]);
                string rightButtonStatus = "enabled";

                if (rightPid < 1) { rightPid = 1; }
                rightPid++;

                if (rightPid == (ViewBag.NumberOfPages + 1))
                {
                    rightPid = ViewBag.NumberOfPages;
                }

                @Html.ActionLink("»", "Index", new { pageId = rightPid }, new { @class = rightButtonStatus })
            }
        </li>
    </ul>
</nav>
