@model IEnumerable<Sogeti.Capstone.Web.ViewModel.EventViewModel>
@{
    ViewBag.Title = "Events";
}

<br/>
<div class="container">

    <h3>
        <div class="pull-right">
            @using (Html.BeginForm())
            {
                @Html.TextBox("searchQuery")
                @Html.ActionLink("Search", "Index", new { searchQuery = Request["searchQuery"]}, new { @class = "btn btn-warning" })
            }
        </div>
    </h3>
</div>

<br />

<div class="container" id="eventsPartial">
    @Html.Partial("_EventsList")
</div>

<div class="container" id="loadingDiv"></div>

@*<div class="container">
        <nav>
            <ul class="pagination">
                @{
                int pId = Convert.ToInt32(Request["pageId"]);
                string buttonStatus = "enabled";
                pId--;
                if (pId < 1)
                {
                    pId = 1;
                }

                if (pId == 1)
                {
                    buttonStatus = "disabled";
                }

            <li class="@buttonStatus">
                @Html.ActionLink("«", "Index", new {pageId = pId, searchQuery = Request["searchQuery"]})
            </li>
                }
                @for (int i = 1; i < ViewBag.NumberOfPages + 1; i++)
            {
            <li>
                @Html.ActionLink(i.ToString(), "Index", new {pageId = i, searchQuery = Request["searchQuery"]})
            </li>
            }
                <li>
                    @{
                    int rightPid = Convert.ToInt32(Request["pageId"]);
                    string rightButtonStatus = "enabled";

                    if (rightPid < 1)
                    {
                        rightPid = 1;
                    }
                    rightPid++;

                    if (rightPid == (ViewBag.NumberOfPages + 1))
                    {
                        rightPid = ViewBag.NumberOfPages;
                    }

                @Html.ActionLink("»", "Index", new {pageId = rightPid, searchQuery = Request["searchQuery"]}, new {@class = rightButtonStatus})
                    }
                </li>
            </ul>
        </nav>
    </div>*@

<div class="modal fade form-horizontal" id="details-event" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
    <div id="details-event-container" class="modal-dialog" role="document"></div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('click', '#details-modal', function() {
            var id = $(this).attr('data-id'); // the id that's given to each button in the list
            var viewUrl = '/Events/Details/' + id;
            $.get(viewUrl, function(data) {
                $('#details-event-container').html(data);
                $('#details-event').modal('show');
            });
        });
    });
</script>

<script type="text/javascript">
    var page = 1;
    var _isLoading = false;
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (page > 0 && !_isLoading) {
                _isLoading = true;
                page++;
                $("#loadingDiv").html("loading...");
                $.get('/Events?pageId=' + page + '&searchQuery=' + '@Request["searchQuery"]', function (data) {
                    if (data != '') {
                        $("#eventsPartial").append(data);
                    } else {
                        page = 0;
                    }
                    _isLoading = false;
                    $("#loadingDiv").empty();
                });
            }
        }
    });
</script>
