@model IEnumerable<Sogeti.Capstone.Web.ViewModel.EventViewModel>

@{
    ViewBag.Title = "Events";
}

<br/>
<div class="container">

    <h3>
        <div class="pull-right">
            @using (Html.BeginForm())
            {
                @Html.TextBox("searchQuery")
                @Html.ActionLink("Search", "Index", new { searchQuery = Request["searchQuery"]}, new { @class = "btn btn-warning" })
            }
        </div>
    </h3>
</div>

<br />

@Html.Partial("_EventsList")

<div class="container">

    <nav>
        <ul class="pagination">
            @{
                int pId = Convert.ToInt32(Request["pageId"]);
                string buttonStatus = "enabled";
                pId--;
                if (pId < 1)
                {
                    pId = 1;
                }

                if (pId == 1)
                {
                    buttonStatus = "disabled";
                }

                <li class="@buttonStatus">
                    @Html.ActionLink("«", "Index", new {pageId = pId, searchQuery = Request["searchQuery"]})
                </li>
            }
            @for (int i = 1; i < ViewBag.NumberOfPages + 1; i++)
            {
                <li>
                    @Html.ActionLink(i.ToString(), "Index", new {pageId = i, searchQuery = Request["searchQuery"]})
                </li>
            }
            <li>
                @{
                    int rightPid = Convert.ToInt32(Request["pageId"]);
                    string rightButtonStatus = "enabled";

                    if (rightPid < 1)
                    {
                        rightPid = 1;
                    }
                    rightPid++;

                    if (rightPid == (ViewBag.NumberOfPages + 1))
                    {
                        rightPid = ViewBag.NumberOfPages;
                    }

                    @Html.ActionLink("»", "Index", new {pageId = rightPid, searchQuery = Request["searchQuery"]}, new {@class = rightButtonStatus})
                }
            </li>
        </ul>
    </nav>
</div>
