@model IEnumerable<Sogeti.Capstone.Web.ViewModel.EventViewModel>

@{
    ViewBag.Title = "Events";
}

<br/>
<div class="container">

    <h3>
        <div class="pull-left">
            Events
            @Html.ActionLink("New", "Create", null, new {@class = "btn btn-primary"})
        </div>
        <div class="pull-right">
            @using (Html.BeginForm())
            {
                @Html.TextBox("searchQuery")
                @Html.Hidden("searchQuery", "")
                <input class="btn btn-warning" type="submit" value="Search"/>
            }
        </div>
    </h3>
</div>

<br />

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Active
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LogoPath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LocationInformation)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Where(i => i.EndDateTime > DateTime.Now).OrderByDescending(i => i.StartDateTime))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LogoPath)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationInformation)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Inactive
                </a>
            </h4>
        </div>

        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LogoPath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LocationInformation)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Where(i => i.EndDateTime < DateTime.Now).OrderByDescending(i => i.StartDateTime))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LogoPath)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationInformation)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination">
        <li>
            @{
                int pId = Convert.ToInt32(Request["pageId"]);
                string buttonStatus = "enabled";
                
                if (pId < 1)
                {
                    pId = 1;
                }

                pId--;
                
                if (pId == 0)
                {
                    buttonStatus = "disabled";
                }
                
                @Html.ActionLink("«", "Index", new { pageId = pId }, new { @class = buttonStatus })
            }
        </li>
        @for (int i = 1; i < ViewBag.NumberOfPages + 1; i++)
        {
            <li>
                @Html.ActionLink(i.ToString(), "Index", new {pageId = i})
            </li>
        }
        <li>
            @{
                int rightPid = Convert.ToInt32(Request["pageId"]);
                string rightButtonStatus = "enabled";

                rightPid++;
                
                if (rightPid == (ViewBag.NumberOfPages + 1))
                {
                    rightPid = ViewBag.NumberOfPages;
                }

                @Html.ActionLink("»", "Index", new { pageId = rightPid }, new { @class = rightButtonStatus })
            }
        </li>
    </ul>
</nav>